DATABASE_URL=postgresql://user:password123@127.0.0.1:5200/resqplate
PORT=3000
BETTER_AUTH_SECRET=aRbRc+Yt2kmyjZVzQt0pLcIxidOq0eG9lKLh1Jm5y5Y=
BETTER_AUTH_URL=http://localhost:65432
FRONTEND_URL=http://localhost:5173
GOOGLE_PLACES_API_KEY=
ALGOLIA_APP_ID=
ALGOLIA_WRITE_API_KEY=
ALGOLIA_LISTINGS_INDEX=dev_food_listing